.hero {
  width: 100%;
  min-height: 399px;
  background-image: url(../assets/nftimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  @media screen and (max-width: map-get($breakpoints, sm)) {
    min-height: 383px;
    background-position-x: -$main-spacing * 2;
  }

  .hero__content {
    width: 278px;
    margin: 60% 0 5% 7.5%;
    @media screen and (max-width: map-get($breakpoints, sm)) {
      width: 251px;
      margin-bottom: 10%;
      margin-top: 60%;
    }

    &-title {
      color: $clr-title;
      @include multiline;
      @media screen and (max-width: map-get($breakpoints, sm)) {
        font-size: 24px;
      }
    }
    &-text {
      @media screen and (max-width: map-get($breakpoints, sm)) {
        font-size: 16px;
      }
    }
  }
}
