$clr-background: #0c1829;
$clr-box: #13243c;
$clr-title: #ffffff;
$clr-primary: #04fcfa;
$clr-text: #9293b9;
$clr-stroke: #2b3953;

$rounding: 20px;
$stroke: 1px;
$main-spacing: 20px;

$breakpoints: (
  md: 1024px,
  sm: 840px,
  xs: 420px,
  xxs: 360px
);
